#projects{
    width: 100%;
    min-height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.cards-projects{
    color: var(--gray-light);
    width: 100%;
    min-height: 40vh;
    margin-bottom: 2rem;

    p{
        margin-top: 8px;
        margin-bottom: 32px;

        font-size: 1.2rem;
        font-weight: 300;
    }

    a{
        display:inline-block;
    
        padding: 10px 32px;
        border-radius: 3px;
    
        transform: skew(-10deg);
        transition: .7s ease;
        text-transform: uppercase;
        background: transparent;
    
        position: relative;
    
        border: 2px solid red;

        text-decoration: none;

        color: var(--gray-light);
        transform: skew(-10deg);
        transition: .7s ease;      
    }
}

a:focus, a:hover{
    color: #D80032;
    transition: all .7s ease;
    transform: translate3d(0, -5px, 0);
}   

